body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-icon {
    height: 90px;
    width: 130px;
}
.header-icon2 {
    height: 50px;
    width: 110px;
}

.nav {
    padding: 20px;
    font-size: 20px;
}

.dropdown-menu li {
    padding: 10px;
    font-size: 20px;
}

.d-flex {
    background-image: url('https://mindyourmind.ca/sites/default/files/assets/images/post/2022/05/Mental-Health-Week-2022-1480.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.d-flex .main-heading {
    font-size: 80px;
    text-align: center;
    padding: 220px 0px 220px 0px;
    color: white;
}

.full-text-container {
    text-align: center;
    padding: 30px 120px;
}

.paragraph-text {
    font-size: 20px;
}

.image-with-description {
    display: flex;
}

.image-with-description img {
    height: 200px;
    width: 350px;
    margin: 30px 60px 30px 80px;
    visibility: initial;
}

.image-with-description_description {
    margin: 70px 0 70px 0;
}

button {
    background-color: #F0A04B;
    border: none;
    padding: 10px 60px;
    font-size: 20px;
    color: white;
}

footer, footer a {
    color: white;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
}