<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Create Your Resume</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<main>
<h1>Create Resume</h1>
<div class="register-container">
    <h1 class="register-title">Create Resume</h1>
    <div class="alert alert-danger w-100" th:if="${status == 'failed'}" th:inline="text">
        [[${message}]]
    </div>
    <div class="skeleton-container display-none">
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton skeleton-btn"></div>
    </div>
<form id="resumeBuilder" action="processResume" class="display-none register-form">
    <!-- Add fields for creating a new resume -->
    <div class="success-message display-none"> you uploaded resume successfully</div>
    <div class="field-raw">
        <label for="firstName">First Name:</label>
        <input type="text" class="firstName" name="firstName" value=""><br><br>
        <small class="alert-message">*First Name is required</small>
    </div>
    <div class="field-raw">
        <label for="lastName">Last Name:</label>
        <input type="text" class="lastName" name="lastName"><br><br>
        <small class="alert-message">*Last Name is required</small>
    </div>
    <div class="field-raw">
        <label for="dob">Date of Birth:</label>
        <input type="date" class="dob" name="dob"><br><br>
        <small class="alert-message">*Birthday is required</small>
    </div>
    <div class="field-raw">
        <label for="contactNumber">Contact Number:</label>
        <input type="text" name="contactNumber" class="contactNumber"
               onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
    </div>
    <div class="field-raw">
        <label for="email">Email:</label>
        <input type="email" class="email" name="email"><br><br>
        <small class="alert-message">*Mobile Number is required</small>
    </div>
    <div class="field-raw">
        <label for="education">Education:</label>
        <textarea class="education" name="education" rows="4"></textarea><br><br>
        <small class="alert-message">*education is required</small>
    </div>
    <div class="field-raw">
        <label for="workExperience">Work Experience:</label>
        <textarea class="workExperience" name="workExperience" rows="4"></textarea><br><br>
        <small class="alert-message">*work experience is required</small>
    </div>
    <div class="field-raw">
        <label for="projects">Projects:</label>
        <textarea class="projects" name="projects" rows="4"></textarea><br><br>
        <small class="alert-message">*Project is required</small>
    </div>
    <div class="field-raw">
        <label for="skills">Skills:</label>
        <textarea id="skills" name="skills" rows="4"></textarea><br><br>
        <small class="alert-message">*Skills is required</small>
    </div>
    <button class="register-button">Submit</button>
</form>
</div>
</main>
</body>
</html>