<!DOCTYPE html>
<html lang="en">
<head>
    <title>Career Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/index"><img class="header-icon" src="images/careerservices.jpeg"></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="register">Sign Up <span class="caret"></span></a>
            </li>
            <li><a href="user_login">Login <span class="caret"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="bg-image d-flex justify-content-center align-items-center">
<!--    <h1 class="main-heading">MENTAL HEALTH MATTERS</h1>-->
    <img src="images/indexImg.jpeg" alt="Career service front page" width="1400" height="500">
</div>

<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="paragraph-text">Contact Us:</p>
        <a href="#">Github</a>
        <a href="#">LinkedIn</a>
        <a href="#">Email</a>
        <p class="paragraph-text" style="padding-top: 10px; font-size: 10px;">© 2023 Copyright</p>
    </div>
</footer>

</body>
</html>
