<!DOCTYPE html>
<html lang="en">
<head>
    <title>Career Services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/index"><img class="header-icon" src="images/careerservices.jpeg"></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="register">Sign Up <span class="caret"></span></a>
            </li>
            <li><a href="user_login">Login <span class="caret"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="bg-image d-flex justify-content-center align-items-center">
<!--    <h1 class="main-heading">MENTAL HEALTH MATTERS</h1>-->
    <img src="images/indexImg.jpeg" alt="Career service front page" width="1400" height="500">
</div>

<!--<div class="full-text-container">-->
<!--    <h1 class="main-heading">WHAT IS MENTAL HEALTH?</h1>-->
<!--    <p class="paragraph-text" style="text-align: center;">Mental health includes our emotional, psychological, and-->
<!--        social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate-->
<!--        to others, and make healthy choices. </p>-->
<!--</div>-->

<!--<div class="image-with-description">-->
<!--    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmwPPqClgw_ARANYHyK6upw_v2fRhzLWjaZdEqKaESLMLVoC8hzNCS0vIJT6rkQTFBQkU&usqp=CAU">-->
<!--    <div class="image-with-description_description">-->
<!--        <a href="user_login"><h3>SELF ASSESSMENT</h3></a>-->
<!--        <p class="paragraph-text">Take our self assessment test to understand your current mental health status.</p>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="image-with-description">-->
<!--    <img src="https://cdn.pixabay.com/photo/2022/07/15/18/27/mental-health-7323725_960_720.png">-->
<!--    <div class="image-with-description_description">-->
<!--        <a href="user_login"><h3>CONSULT A COUNSELLOR</h3></a>-->
<!--        <p class="paragraph-text">Our counsellors will get in touch with you after analysing your self assessment-->
<!--            test.</p>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="image-with-description">-->
<!--    <img src="https://static.businessworld.in/article/article_extra_large_image/1623935257_LpRo34_thumbnail_Article_Image.jpg">-->
<!--    <div class="image-with-description_description">-->
<!--        <a href="user_login"><h3>GET AN APPOINTMENT</h3></a>-->
<!--        <p class="paragraph-text">Get professional help from expert doctors to start your treatment towards better-->
<!--            health.</p>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="image-with-description">-->
<!--    <img src="https://t3.ftcdn.net/jpg/05/10/42/34/360_F_510423418_j2mWEVlnminsetmNClmvVT6GnrpH1cyy.jpg">-->
<!--    <div class="image-with-description_description">-->
<!--        <a href="user_login"><h3>TRACK YOUR IMPROVEMENT</h3></a>-->
<!--        <p class="paragraph-text">View your history of self assessment results to track your mental health-->
<!--            betterment.</p>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="full-text-container">-->
<!--    <h1 class="main-heading">BEGIN YOUR JOURNEY WITH US</h1><br/>-->
<!--    <button><a href="user_login">Get Started</a></button>-->
<!--</div>-->

<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="paragraph-text">Contact Us:</p>
        <a href="#">Github</a>
        <a href="#">LinkedIn</a>
        <a href="#">Email</a>
        <p class="paragraph-text" style="padding-top: 10px; font-size: 10px;">© 2023 Copyright</p>
    </div>
</footer>

</body>
</html>
